:root {
  --font-family: "Roboto", sans-serif;
  --content-width: 1280px;
  --container-offset: 15px;
  --container-width: calc(var(--content-width) + (var(--container-offset) * 2));
  --second-family: "Archangelsk", sans-serif;
  --light-color: #fff;
  --black-color: #000;
  --accent-color: #52bedc ;
}

/* stylelint-disable */
/* stylelint-disable */
/* stylelint-disable */
.custom-checkbox__field:checked + .custom-checkbox__content::after {
  opacity: 1;
}

.custom-checkbox__field:focus + .custom-checkbox__content::before {
  outline: 2px solid #f00;
  outline-offset: 2px;
}

.custom-checkbox__field:disabled + .custom-checkbox__content {
  opacity: 0.4;
  pointer-events: none;
}

/* stylelint-disable */
/* stylelint-disable */
/* stylelint-disable value-keyword-case */
@font-face {
  font-family: "Muller";
  src: url("../fonts/../fonts/Roboto-Light.woff2") format("woff2");
  font-weight: 300;
  font-display: swap;
  font-style: normal;
}
@font-face {
  font-family: "Muller";
  src: url("../fonts/../fonts/Roboto-Regular.woff2") format("woff2");
  font-weight: 400;
  font-display: swap;
  font-style: normal;
}
@font-face {
  font-family: "Muller";
  src: url("../fonts/../fonts/Roboto-Bold.woff2") format("woff2");
  font-weight: 700;
  font-display: swap;
  font-style: normal;
}
@font-face {
  font-family: "Muller";
  src: url("../fonts/../fonts/Archangelsk.woff2") format("woff2");
  font-weight: 400;
  font-display: swap;
  font-style: normal;
}
*,
*::before,
*::after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

.page {
  height: 100%;
  font-family: var(--font-family, sans-serif);
  -webkit-text-size-adjust: 100%;
  scroll-behavior: smooth;
}

.page__body {
  margin: 0;
  min-width: 360px;
  min-height: 100%;
  font-size: 16px;
}

img {
  height: auto;
  max-width: 100%;
  -o-object-fit: cover;
  object-fit: cover;
}

a {
  text-decoration: none;
}

.site-container {
  overflow: hidden;
}

.is-hidden {
  display: none !important; /* stylelint-disable-line declaration-no-important */
}

.btn-reset {
  border: none;
  padding: 0;
  background-color: transparent;
  cursor: pointer;
}

.list-reset {
  list-style: none;
  margin: 0;
  padding: 0;
}

.input-reset {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  border: none;
  border-radius: 0;
  background-color: #fff;
}
.input-reset::-webkit-search-decoration, .input-reset::-webkit-search-cancel-button, .input-reset::-webkit-search-results-button, .input-reset::-webkit-search-results-decoration {
  display: none;
}

.visually-hidden {
  position: absolute;
  overflow: hidden;
  margin: -1px;
  border: 0;
  padding: 0;
  width: 1px;
  height: 1px;
  clip: rect(0 0 0 0);
}

.container {
  margin: 0 auto;
  padding: 0 var(--container-offset);
  max-width: var(--container-width);
}

.centered {
  text-align: center;
}

.dis-scroll {
  position: fixed;
  left: 0;
  top: 0;
  overflow: hidden;
  width: 100%;
  height: 100vh;
  -ms-scroll-chaining: none;
  overscroll-behavior: none;
}

.page--ios .dis-scroll {
  position: relative;
}

.header {
  position: absolute;
  top: 20px;
  width: 100%;
  z-index: 5;
}
.header__block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.social {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  gap: 40px;
}
.social__link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  width: 30px;
  height: 30px;
}
.social__icon {
  fill: var(--black-color);
  -webkit-transition: fill 0.5s ease;
  transition: fill 0.5s ease;
}

.social__link:hover .social__icon {
  fill: var(--accent-color);
}

.hero {
  position: relative;
  height: 1000px;
  background-image: url("../img/1-display.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  -webkit-animation: show 13.5s alternate infinite;
  animation: show 13.5s alternate infinite;
}
@-webkit-keyframes show {
  0% {
    background-image: url("../img/1-display.jpg");
  }
  15% {
    background-image: url("../img/1-display.jpg");
  }
  30% {
    background-image: url("../img/2-display.jpg");
  }
  55% {
    background-image: url("../img/2-display.jpg");
  }
  75% {
    background-image: url("../img/3-display.jpg");
  }
  100% {
    background-image: url("../img/3-display.jpg");
  }
}
@keyframes show {
  0% {
    background-image: url("../img/1-display.jpg");
  }
  15% {
    background-image: url("../img/1-display.jpg");
  }
  30% {
    background-image: url("../img/2-display.jpg");
  }
  55% {
    background-image: url("../img/2-display.jpg");
  }
  75% {
    background-image: url("../img/3-display.jpg");
  }
  100% {
    background-image: url("../img/3-display.jpg");
  }
}
.hero__block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
  -ms-flex-pack: end;
  justify-content: flex-end;
  -webkit-box-align: end;
  -ms-flex-align: end;
  align-items: flex-end;
  height: 1000px;
}
.hero__access {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  width: 624px;
  height: 369px;
  background-image: url("../img/background-1.png");
  background-repeat: no-repeat;
}
.hero__access-title {
  margin: 0;
  margin-bottom: 25px;
  max-width: 484px;
  font-family: var(--second-family);
  font-weight: 400;
  font-size: 62px;
  color: var(--black-color);
}
.hero__access-btn {
  padding: 19px 50px;
  font-weight: 700;
  font-size: 24px;
  line-height: 167%;
  text-align: center;
  color: #f8f200;
  background-color: var(--black-color);
  -webkit-transition: color 0.5s ease-in, background 0.5s ease-in;
  transition: color 0.5s ease-in, background 0.5s ease-in;
}
.hero__access-btn:hover {
  color: var(--black-color);
  background-color: var(--accent-color);
}

.intro {
  padding: 70px 0;
}
.intro__block-img {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  gap: 32px;
}
.intro__block-img--left {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  gap: 32px;
}
.intro__title {
  margin: 0;
  margin-bottom: 25px;
  font-family: var(--second-family);
  font-weight: 400;
  font-size: 62px;
  color: #000;
}
.intro__subtitle {
  margin: 0;
  margin-bottom: 70px;
  max-width: 925px;
  font-weight: 400;
  color: #777;
}
.intro__subtitle span {
  font-weight: 700;
  font-size: 18px;
  line-height: 189%;
  color: #52bedc;
}

.games {
  position: relative;
  padding-bottom: 70px;
  background-color: var(--black-color);
}
.games::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 70px;
  background-image: url("../img/background-top.png");
}
.games__block {
  padding-top: 70px;
}
.games__block-title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  gap: 32px;
  margin-bottom: 25px;
}
.games__action {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  width: 132px;
  height: 132px;
  font-family: var(--second-family);
  font-weight: 400;
  font-size: 30px;
  color: #f8f200;
  -webkit-transform: rotate(-45deg);
  -ms-transform: rotate(-45deg);
  transform: rotate(-45deg);
}
.games__action::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 132px;
  height: 132px;
  background-image: url("../img/back.svg");
  -webkit-transform: rotate(80deg);
  -ms-transform: rotate(80deg);
  transform: rotate(80deg);
}
.games__title {
  margin: 0;
  font-family: var(--second-family);
  font-weight: 400;
  font-size: 62px;
  color: var(--light-color);
}
.games__subtitle {
  margin: 0;
  margin-bottom: 25px;
  max-width: 952px;
  font-weight: 400;
  font-size: 18px;
  line-height: 189%;
  color: var(--light-color);
}
.games__subtitle span {
  font-weight: 700;
  color: var(--accent-color);
}
.games__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 32px;
  height: 456px;
}
.games__form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
  -ms-flex-align: end;
  align-items: flex-end;
  max-width: 460px;
}
.games__prize {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 32px;
  padding-top: 25px;
  padding-left: 164px;
}
.games__prize::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 460px;
  height: 456px;
  background-image: url("../img/back-xbox.png");
  background-repeat: no-repeat;
}
.games__prize::before {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  width: 460px;
  height: 456px;
  background-image: url("../img/back-ps.png");
  background-repeat: no-repeat;
}

.image__prize {
  position: relative;
  z-index: 5;
}

.form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: start;
  -ms-flex-align: start;
  align-items: flex-start;
  gap: 35px;
  min-width: 460px;
}
.form__input {
  padding: 0;
  padding-bottom: 13px;
  width: 460px;
  border-bottom: 1px solid #777;
  font-weight: 300;
  font-size: 18px;
  color: var(--light-color);
  background-color: transparent;
  outline: none;
}
.form__input::-webkit-input-placeholder {
  margin-bottom: 13px;
}
.form__input::-moz-placeholder {
  margin-bottom: 13px;
}
.form__input:-ms-input-placeholder {
  margin-bottom: 13px;
}
.form__input::-ms-input-placeholder {
  margin-bottom: 13px;
}
.form__input::placeholder {
  margin-bottom: 13px;
}
.form__label-file {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  width: 460px;
  height: 120px;
  font-weight: 300;
  font-size: 18px;
  text-decoration: underline;
  -webkit-text-decoration-skip-ink: none;
  text-decoration-skip-ink: none;
  color: var(--light-color);
  border: 1px dashed #777;
  cursor: pointer;
}
.form__label-file span {
  display: block;
}
.form__file {
  position: absolute;
  opacity: 0;
  cursor: pointer;
}
.form__btn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  margin-bottom: 15px;
  padding: 15px 50px;
  min-height: 59px;
  font-weight: 700;
  font-size: 18px;
  color: var(--black-color);
  background: #f8f200;
  -webkit-transition: background 0.3s ease-in-out;
  transition: background 0.3s ease-in-out;
}
.form__btn:hover {
  background-color: var(--accent-color);
}

.custom-checkbox {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
  -ms-flex-align: end;
  align-items: flex-end;
  cursor: pointer;
  font-weight: 300;
  font-size: 12px;
  color: var(--light-color);
}
.custom-checkbox span {
  font-size: 14px;
  color: var(--light-color);
}

.checkbox-input {
  position: absolute;
  opacity: 0;
  pointer-events: none;
}
.checkbox-box {
  width: 14px;
  height: 14px;
  border: 1px solid #777;
  margin-right: 10px;
  position: relative;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

.checkbox-input:checked + .checkbox-box::after {
  content: "";
  position: absolute;
  top: 3px;
  left: 1px;
  width: 10px;
  height: 7px;
  background-image: url("../img/check.svg");
  background-repeat: no-repeat;
  border-width: 0 3px 3px 0;
  opacity: 1;
}/*# sourceMappingURL=main.css.map */
